/*
Fonts
*/
@import
    url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-size: 20px;
    background-color: #4CAF50;
    font-family: "Press Start 2P", "monospace";
}

.menu {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 550px;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}
#mainMenu {
    visibility: visible;
}
button {
    font-size: 30px;
    width: 300px;
    padding: 10px;
    font-family: "Press Start 2P", "monospace";
    background-color: white;
    border: 5px solid black;
}

button:hover {
    color: white;
    background-color: black;
}